* {
  margin: 0px;
  font-weight: lighter;
}

.monospaced, .centered {
  background-color: gray;
}

.centered {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
}

.monospaced {
  text-decoration: underline;
  font-family: monospace;
}

li {
  list-style-type: none;
}
