body {
  padding: 40px;
}

button {
  background-color: rgb(18, 122, 219);
  border: none;
  border-radius: 6px;
  color: white;
  width: 150px;
  height: 60px;
  outline: none;
}

button:hover {
  background-color: rgb(4, 40, 73);
  transition: 300ms;
}

button:active {
  border: none;
  transform: scale(0.85);
  transition: 300ms;
}